Repository Hold-Krykke/Security_and_FullstackJavascript_Exam, pull requests merged in 2020-05, with the labels that each got.

#6 Early app setup
  FindYourFriends/.expo-shared/assets.json
  FindYourFriends/.gitignore
  FindYourFriends/App.js
  FindYourFriends/app.json
  FindYourFriends/assets/icon.png
  FindYourFriends/assets/splash.png
  FindYourFriends/babel.config.js
  FindYourFriends/components/Card.js
  FindYourFriends/components/Header.js
  FindYourFriends/components/Input.js
  FindYourFriends/constants/colors.js
  FindYourFriends/constants/settings.js
  FindYourFriends/demos/switchScreens.gif
  FindYourFriends/facade.js
  FindYourFriends/package-lock.json
  FindYourFriends/package.json
  FindYourFriends/screens/ChatScreen.js
  FindYourFriends/screens/HomeScreen.js
  FindYourFriends/screens/LoginScreen.js
  FindYourFriends/screens/MapScreen.js
Labels: React Native Application

#7 Initial Backend Setup
  .gitignore
  Backend/README.md
  Backend/package-lock.json
  Backend/package.json
  Backend/src/resolverMap.ts
  Backend/src/schema.ts
  Backend/src/schema/schema.graphql
  Backend/src/server.ts
  Backend/src/settings.ts
  Backend/tsconfig.json
Labels: Backend Application

#9 Backend_setup
  Backend/package-lock.json
  Backend/package.json
  Backend/src/config/setupDB.ts
  Backend/src/customErrors/apiError.ts
  Backend/src/facades/userFacade.ts
  Backend/src/interfaces/IUser.ts
  Backend/src/middlewares/basicAuth.ts
  Backend/src/resolverMap.ts
  Backend/src/schema.ts
  Backend/src/schema/schema.graphql
  Backend/src/server.ts
Labels: Backend Application

#10 SSO OIDC
  FindYourFriends/App.js
  FindYourFriends/package-lock.json
  FindYourFriends/package.json
  FindYourFriends/screens/LoginScreen.js
Labels: Oauth, React Native Application, Security

#12 Working oauth/openid
  Backend/package-lock.json
  Backend/package.json
  Backend/src/middlewares/passportOauth.ts
  Backend/src/server.ts
  Backend/src/settings.ts
Labels: Backend Application, Oauth, READY FOR MERGE, Security

#15 Logging
  .gitignore
  Backend/package-lock.json
  Backend/package.json
  Backend/src/middlewares/logger.ts
  Backend/src/server.ts
Labels: Backend Application

#14 Front end server flow implementation
  Backend/package-lock.json
  Backend/package.json
  Backend/src/middlewares/passportOauth.ts
  Backend/src/server.ts
  Backend/src/util/makeTestJWT.ts
  FindYourFriends/package-lock.json
  FindYourFriends/package.json
  FindYourFriends/screens/LoginScreen.js
Labels: Oauth, React Native Application, Security

#13 MySQL UserFacade
  .gitignore
  Backend/package-lock.json
  Backend/package.json
  Backend/src/dataAccessorObjects/userDAO.ts
  Backend/src/facades/userFacade.ts
  Backend/src/interfaces/IUser.ts
  Backend/src/resolverMap.ts
  Backend/src/schema/schema.graphql
Labels: Backend Application, Database, Security

#18 MySQL testing userfacade
  Backend/package-lock.json
  Backend/package.json
  Backend/src/dataAccessorObjects/userDAO.ts
  Backend/src/facades/userFacade.ts
  Backend/src/resolverMap.ts
  Backend/test/userFacadeTest.ts
Labels: Backend Application, READY FOR MERGE

#21 PositionFacade
  Backend/src/config/setupDB.ts
  Backend/src/facades/positionFacade.ts
  Backend/src/interfaces/IPoint.ts
  Backend/src/interfaces/IPosition.ts
  Backend/src/resolverMap.ts
  Backend/src/schema/schema.graphql
  Backend/src/util/geoUtils.ts
  Backend/test/positionFacadeTest.ts
Labels: Backend Application

#22 Non OAuth login now uses EMAIL instead of username
  Backend/src/dataAccessorObjects/userDAO.ts
  Backend/src/facades/positionFacade.ts
  Backend/src/facades/userFacade.ts
  Backend/src/resolverMap.ts
  Backend/test/userFacadeTest.ts
Labels: Backend Application, Database

#16 implementing jwt instead of basicAuth. Semi working first ed.
  Backend/package-lock.json
  Backend/package.json
  Backend/src/facades/userFacade.ts
  Backend/src/middlewares/basicAuth.ts
  Backend/src/middlewares/passportOauth.ts
  Backend/src/middlewares/passportSetup.ts
  Backend/src/server.ts
  Backend/src/static/appRedirect.html
  Backend/src/util/makeTestJWT.ts
  FindYourFriends/App.js
  FindYourFriends/components/LoginCard.js
  FindYourFriends/constants/colors.js
  FindYourFriends/package-lock.json
  FindYourFriends/package.json
  FindYourFriends/screens/LoginScreen.js
  package-lock.json
Labels: Backend Application, Oauth, Security

#26 Added flexibility when updating refresh token
  Backend/src/dataAccessorObjects/userDAO.ts
  Backend/src/facades/userFacade.ts
  Backend/test/userFacadeTest.ts
Labels: Backend Application, Database, READY FOR MERGE

#17 Error Handling
  Backend/src/customErrors/apiError.ts
  Backend/src/resolverMap.ts
  Backend/src/server.ts
  Backend/src/util/validateCoordinates.ts
  Backend/src/util/validateEmail.ts
  Backend/test/userFacadeTest.ts
  FindYourFriends/App.js
  FindYourFriends/package-lock.json
  FindYourFriends/package.json
  FindYourFriends/utils/links.js
Labels: Backend Application, React Native Application

#24 Handling refreshtoken in backend, jwt token in app, context and more
  Backend/src/middlewares/passportSetup.ts
  Backend/src/resolverMap.ts
  Backend/src/schema/schema.graphql
  Backend/src/server.ts
  FindYourFriends/App.js
  FindYourFriends/facade.js
  FindYourFriends/package-lock.json
  FindYourFriends/package.json
  FindYourFriends/screens/HomeScreen.js
  FindYourFriends/screens/LoginScreen.js
  FindYourFriends/utils/links.js
Labels: Backend Application, React Native Application, Security

#29 Error Handling Frontend
  Backend/src/server.ts
  FindYourFriends/App.js
  FindYourFriends/screens/LoginScreen.js
  FindYourFriends/utils/links.js
Labels: React Native Application

#28 Logging user in, if token in SecureStore
  Backend/src/resolverMap.ts
  Backend/src/server.ts
  FindYourFriends/App.js
  FindYourFriends/screens/HomeScreen.js
  FindYourFriends/screens/LoginScreen.js
  FindYourFriends/settings.js
  FindYourFriends/utils/ApolloClientProvider.js
  FindYourFriends/utils/ErrorHandler.js
  FindYourFriends/utils/MakeAlert.js
  FindYourFriends/utils/links.js
Labels: React Native Application, Security

#27 Create-New-User screen
  Backend/package-lock.json
  Backend/src/facades/userFacade.ts
  Backend/src/resolverMap.ts
  Backend/src/server.ts
  Backend/src/util/CustomEmitter.ts
  Backend/src/util/bruteForceDetector.ts
  Backend/tsconfig.json
  FindYourFriends/App.js
  FindYourFriends/facade.js
  FindYourFriends/package-lock.json
  FindYourFriends/package.json
  FindYourFriends/screens/CreateUserScreen.jsx
  FindYourFriends/screens/LoginScreen.js
  FindYourFriends/utils/badPasswords.js
  package-lock.json
Labels: READY FOR MERGE, React Native Application

#37 Added more input checks in create user screen
  FindYourFriends/App.js
  FindYourFriends/screens/CreateUserScreen.jsx
  FindYourFriends/settings.js
Labels: READY FOR MERGE, React Native Application

#34 Rewriting RAPPORT.md
  RAPPORT.md
Labels: DO NOT MERGE, RAPPORT, Security, USER STORY

#44 Navigation fix and small styling fix
  FindYourFriends/App.js
  FindYourFriends/components/LoginCard.js
  FindYourFriends/package-lock.json
  FindYourFriends/package.json
  FindYourFriends/screens/CreateUserScreen.jsx
  FindYourFriends/screens/HomeScreen.js
  FindYourFriends/screens/LoginScreen.js
Labels: React Native Application

#47 Validate e-mail regex fixed
  Backend/src/resolverMap.ts
  Backend/src/util/validateEmail.ts
  FindYourFriends/App.js
  FindYourFriends/constants/settings.js
  FindYourFriends/screens/LoginScreen.js
  FindYourFriends/settings.js
  FindYourFriends/utils/ApolloClientProvider.js
Labels: Backend Application, READY FOR MERGE, Security

#41 Register OAuth users
  Backend/src/dataAccessorObjects/userDAO.ts
  Backend/src/facades/userFacade.ts
  Backend/src/interfaces/IUser.ts
  Backend/src/middlewares/passportSetup.ts
  Backend/src/resolverMap.ts
  Backend/src/schema/schema.graphql
  Backend/src/server.ts
  FindYourFriends/App.js
  FindYourFriends/components/LoginCard.js
  FindYourFriends/constants/settings.js
  FindYourFriends/facade.js
  FindYourFriends/screens/CreateUserScreen.jsx
  FindYourFriends/screens/LoginScreen.js
  FindYourFriends/screens/MapScreen.js
  FindYourFriends/screens/UserScreen.jsx
  FindYourFriends/utils/ApolloClientProvider.js
Labels: Backend Application, Oauth, READY FOR MERGE, React Native Application

#49 Fix user screen
  Backend/src/dataAccessorObjects/userDAO.ts
  Backend/src/resolverMap.ts
  Backend/src/schema/schema.graphql
  Backend/src/server.ts
  FindYourFriends/App.js
  FindYourFriends/screens/CreateUserScreen.jsx
  FindYourFriends/screens/UserScreen.jsx
  FindYourFriends/utils/ErrorHandler.js
Labels: Backend Application, Oauth, React Native Application

#43 Protecting Routes
  Backend/src/dataAccessorObjects/userDAO.ts
  Backend/src/resolverMap.ts
  FindYourFriends/screens/CreateUserScreen.jsx
Labels: Backend Application, Security

#51 Fixed tests
  Backend/src/dataAccessorObjects/userDAO.ts
  Backend/test/userFacadeTest.ts
Labels: BUG, Backend Application, READY FOR MERGE
